# Project exclude paths
/.gradle/
/Account Service/task/build/
/Account Service/task/out/
/Account Service/task/out/production/classes/
/Account Service/service_db.*
/Account Service/task/src/resources/keystore/*
